<a href="https://colab.research.google.com/github/kolisachint/ExploreDataWithColab/blob/master/ExploreDataTemplate_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

### Provide your credentials to the runtime

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

### Declare the Cloud project ID which will be used throughout this notebook

In [0]:
project_id = 'sachinproject'   # Change Project ID

### Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

In [0]:
from google.cloud import bigquery
client = bigquery.Client(project=project_id)

### Prepare your query here
Prepare your query here

In [0]:
myQUERY = """
        SELECT license, COUNT(*) AS count
        FROM `bigquery-public-data.github_repos.licenses`
        GROUP BY license
        ORDER BY COUNT(*) DESC
        """

### Declare your variables here 
Declare you global variables here

In [0]:
BYTES_PER_MB=2**20

###Estimate the size of your queries before you make them
Now for the really cool part. We’re eager to start analyzing the BigQuery dataset to uncover insights, but we should be careful about how much data we scan in our queries. Let’s make those free 1TB count!

In [14]:
dry_run_config = bigquery.job.QueryJobConfig()
dry_run_config.dry_run = True
dry_run_job = client.query(myQUERY, job_config=dry_run_config)
print("This query will process ",dry_run_job.total_bytes_processed / BYTES_PER_MB,"MB when run. ")

This query will process  24.800643920898438 MB when run.

### Execute your query
Execute your query here.
# Do not run this cell until necessary :)

In [15]:
df = client.query(myQUERY).to_dataframe()

print('Full dataset has %d rows and %d columns. ' % (df.shape[0], df.shape[1]))

Full dataset has 15 rows and 2 columns.

### Describe the sampled data

In [16]:
df.describe()

              count
count  1.500000e+01
mean   2.233240e+05
std    4.384666e+05
min    8.695000e+03
25%    2.368500e+04
50%    4.146600e+04
75%    2.483625e+05
max    1.709951e+06

### View the first 10 rows

In [17]:
df.head(10)

        license    count
0           mit  1709951
1    apache-2.0   493503
2       gpl-2.0   345571
3       gpl-3.0   343575
4  bsd-3-clause   153150
5  bsd-2-clause    55980
6     unlicense    46766
7      agpl-3.0    41466
8      lgpl-3.0    40068
9       cc0-1.0    27031

### Show all contents of dataframe

In [18]:
df

         license    count
0            mit  1709951
1     apache-2.0   493503
2        gpl-2.0   345571
3        gpl-3.0   343575
4   bsd-3-clause   153150
5   bsd-2-clause    55980
6      unlicense    46766
7       agpl-3.0    41466
8       lgpl-3.0    40068
9        cc0-1.0    27031
10       epl-1.0    24406
11      lgpl-2.1    22964
12       mpl-2.0    18924
13           isc    17810
14  artistic-2.0     8695